@{
    ViewBag.Title = "Kate Metroka";
}

<div class="spinner"><div></div></div>
<div class="container_16">
    <div class="box_left">
        <div class="wrapper">
            <!--header -->
            <header class="grid_4 suffix_1">
                <h1><a href="~/" id="logo">delight Beauty School</a></h1>
                <div class="wrapper">
                    <nav class="menu">
                        <ul id="menu">
                            <li><a href="#!/page_Photos">Photos</a></li>
                            <li><a href="#!/page_Videos">Videos</a></li>
                            <li><a href="#!/page_Resume">Resume</a></li>
                            <li class="end"><a href="#!/page_Contacts">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <!--header end-->
            <div class="wrapper">
                <!--footer -->
                <footer>

                    <!-- {%FOOTER_LINK} -->
                </footer>
                <!--footer end-->
            </div>
        </div>
    </div>
    <!--content -->
    <div class="wrapper">
        <a href="javascript:" class="marker_left"></a><a href="javascript:" class="marker_right"></a>
        <article id="content">
            <ul>
                @Html.Partial("_Photos")
                @Html.Partial("_Videos")
                @Html.Partial("_Resume")
                @Html.Partial("_Contact")
            </ul>
            @Html.Partial("_Splash")
        </article>
    </div>
    <!--content end-->
</div>